export('beadsplot')
S3method(beadsplot, data.frame)
S3method(beadsplot, numeric)
S3method(beadsplot, character)
S3method(beadsplot, formula)
importFrom('grDevices', 'adjustcolor', 'rainbow')
importFrom('graphics', 'abline', 'lines', 'mtext', 'par', 'polygon')
importFrom('stats', 'model.frame')
importFrom('utils', 'modifyList', 'str')
